<?xml version="1.0"?>
<plugin id="tispark" name="PingCAP DataNucleus plug-in" provider-name="PingCAP">
    <extension point="org.datanucleus.store.rdbms.datastoreadapter">
        <datastore-adapter vendor-id="tidb" class-name="org.datanucleus.store.rdbms.adapter.TiDBAdapter" priority="10"/>
    </extension>
</plugin>
